*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/.kotlin/metadata/kotlinTransformedMetadataLibraries
/shared/src/androidMain/kotlin/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
/.kotlin/sessions/kotlin-compiler-15856624034620784772.salive
